<div class="col-md-12 form" id="blog-post">
    <div class="col-md-12 form">
        <div>

            <h1 id="contact-information">Contact Information</h1>

            <div style="float: right; margin-right: 50px;">
                <iframe scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Hurtig+Hall,+Northeastern+University&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=64.537053,154.951172&amp;ie=UTF8&amp;hq=&amp;hnear=Hurtig+Hall,+Boston,+Massachusetts+02115&amp;t=m&amp;ll=42.339799,-71.085835&amp;spn=0.011103,0.015063&amp;z=15&amp;output=embed&amp;iwloc=near" width="400px" height="400px" frameborder="0"></iframe>

                <p><a href="http://www.northeastern.edu/campusmap">Click here</a> to see the campus map</p>
            </div>

            <div width="50%" style="margin-left: 150px; float: left;">
                <h3 id="postal-address">Postal Address:</h3>

                <p>424 Hurtig Hall</p>

                <p>Northeastern University</p>

                <p>360 Huntington Avenue</p>

                <p>Boston, MA 02115-5000</p>

                <h3 id="phone-numbers">Phone Numbers:</h3>

                <p>Sunny: 617.373.4818</p>

                <p>Lab: 617.373.2800</p>

                <p>617.373.2868</p>

                <h3 id="email">Email:</h3>

                <p><a href="{{ .Site.BaseURL }}pages/people">See People Page</a></p>
            </div>
        </div>
    </div>
        <hr/>
        
    <div class="container form">
    <h3 id="direction-for-walking-from-nearby-t-station">Directions for walking from a nearby T Station:</h3>

    <div class="col-md-4 form">
        <h4 id="from-orange-line-mass-ave-the-closest-stop">From Orange Line: Mass Ave (The closest stop)</h4>

        <img width="100%" src="{{ .Site.BaseURL }}img/mass-hurtig.png"></img>

        <ol class="directions">
            <li>Exit the station to Gainsborough St.</li>

            <li>After you go down stair, take the left on Gainsborough St.</li>

            <li>Take the second right. The Hurtig Hall is on your right.</li>
        </ol>
    </div>

    <div class="col-md-4 form">
        <h4 id="from-orange-line-ruggles-station">From Orange Line: Ruggles Station</h4>
        <img width="100%" src="{{ .Site.BaseURL }}img/ruggles-hurtig.png"></img>

        <ol class="directions">
            <li>Exit the station to Forthy Street.</li>

            <li>Then turn right to a path behind the library.</li>

            <li>Take the third left. The Hurtig Hall is on your right.</li>
        </ol>
    </div>

    <div class="col-md-4 form">
        <h4 id="from-green-line-northeastern-university">From Green Line: Northeastern University</h4>
        <img width="100%" src="{{ .Site.BaseURL }}img/green-hurtig.png"></img>

        <ol class="directions">
            <li>Exit the train, and turn right if you are on the train to Heat Street or turn left if you are on the train to Lechmere.</li>

            <li>Then turn right at the end of road, be careful when crossing the road.</li>

            <li>walk staight to Ell Hall. Then turn left, and turn right, and turn left, and pass Mugar Life Sciences Building.</li>

            <li>Take the first right. Hurtig Hall is on your left.</li>
        </ol>
    </div>
</div>
